<strong>Comments:</strong><br>
<% @comments.each do |comment| %>
  <strong><%= comment.commenter_email %></strong>
  <p><%= comment.content %> - <%= comment.approved? ? "Approved" : "Not approved" %></p>
<% end %>
