<p id="notice"><%= notice %></p>

<div id="articles_container">
  <h1>Listing Articles</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="articles_index">
      <% @articles.each do |article| %>
        <%= render article, locals: { articles: @articles } %>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles %>
</div>

<br>

<% if policy(@articles).create? %>
  <%= link_to 'New Article', new_article_path, id: :new_link, remote: true %>
<% end %>
