<p id="notice"><%= notice %></p>

<div id="articles_container">
  <%= render 'articles' %>
  <%# render article, locals: { articles: @articles } %>
</div>

<br>

<% if policy(@articles).create? %>
  <%= link_to 'New Article', new_article_path, id: :new_link, remote: true %>
<% end %>
