<div class="hero">
  <div class="row">
    <div class="large-12 columns intro-text">
      <p>Hi, I'm David!</p>
      <p>I'm a web developer, specializing in Ruby on Rails.</p>
    </div>
  </div>
</div>

<div id="about" class="row about">
  <div class="medium-6 large-8 columns">
    <h4>A little about me...</h4>
    <p>
      <strong>I'm a web developer.</strong>
      Ever since middle school, I've been interested in web development, but never more than a hobby. After moving into IT and networking for several years, I realized I could make my growing passion for web development into a professional career.
    </p>
    <p>
      <strong>I'm a people-person.</strong>
      I enjoy working with other people both face-to-face and on the computer. I can work well by myself, but I love being in an environment where the team wants to help, support, teach, and learn from each other.
    </p>
    <p>
      <strong>I'm a quick learner.</strong>
      I love to learn. I'm very self-motivated, and can pick up new skills and topics with ease. I can adapt to different situations quickly,
    </p>
    <p>
      <strong>I'm a coffee lover.</strong>
      Being a Seattleite, it's pretty much a requirement.
    </p>
  </div>
  <div class="medium-6 large-4 columns">
    <img src="assets/headshot.jpg">
  </div>
</div>

<div id="projects" class="row projects">
  <hr>
  <div class="large-12 columns">
    <h4>Some recent projects I've worked on...</h4>

    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
      <li>
        <a href="https://github.com/D32-rails/disc_cellar">
          <img data-caption="Disc Cellar" src="assets/disccellar.png">
        </a>
      </li>
      <li>
        <a href="https://www.invoice.re">
          <img data-caption="Invoice.re" src="assets/invoicere.png">
        </a>
      </li>
      <li>
        <a href="https://github.com/snappy316/portfolio">
          <img data-caption="Portfolio" src="assets/dkerdotus.png">
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="contact" class="row contact">
  <hr>
  <div class="large-12 columns">
    <h4>Get in touch with me...</h4>
    <ul>
      <li>
        <strong>Email</strong>: <a href="#">david . a . ker [at] gmail [dot] com</a>
      </li>
      <li>
        <strong>Twitter</strong>: <a href="https://twitter.com/snappy316">@snappy316</a>
      </li>
      <li>
        <strong>GitHub</strong>: <a href="https://github.com/snappy316">github.com/snappy316</a>
      </li>
    </ul>
  </div>
</div>


