<div class="row">
  <div class="large-10 columns">
    <h1>Hi, I'm David!</h1>
    <p>I'm a Web Developer, specializing in Ruby on Rails.</p>
    <p>I'm currently a student at <a href="https://codefellows.org">CodeFellows</a>, but I'll soon be looking for work.</p>
  </div>
</div>
<div class="row">
  <div class="small-10 columns">
    <h3>Here are a few reasons why you should hire me:</h3>
    <ul>
      <li>I'm a people-person.</li>
      <li>I'm a team player.</li>
      <li>I'm a quick learner.</li>
      <li>I like coffee.</li>
    </ul>
  </div>
</div>

